/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #d8dee9;
$background-color: #2e3440;
$error-color: #bf616a;
$keyword-color: #81a1c1;
$text-color: $color;
$name-color: #88c0d0;
$literal-color: #a3be8c;

@import "common.scss";
